@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .menu {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 3rem;
    top: 1rem;
  }

  .mobile-menu {
    position: absolute;
    text-align: center;
    top: 7rem;
  }

  .mobile-menu-icon button {
    font-size: 5rem;
    color: #eee;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .open {
    display: block;
  }

  .box-home {
    width: 20rem;
  }

  .box-home .title {
    font-size: 1.9rem;
  }

  .image-container {
    width: 12rem;
  }

  .box-home .address {
    font-size: 1.3rem;
  }

  .box-home .occupations {
    font-size: 1.1rem;
  }

  .social-media {
    gap: 1rem;
  }

  .social-media li {
    width: 2.5rem;
  }

  .box-about {
    flex-direction: column;
    width: 24rem;
    padding: 2rem;
    gap: 2rem;
  }

  .about-text h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  
  .about-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .about-icons {
    display: none;
  }
  
  .my-photo {
    width: 10rem;
  }
  
  .box-projects {
    width: 20rem;
  }

  .coin {
    width: 3rem;
  }

  .box-projects h1 {
    font-size: 2.5rem;
  }

  .project-images {
    width: 11rem;
  }

  .box-ability {
    width: 20rem;
    gap: 1rem;
  }
  
  .box-ability h1 {
    font-size: 2rem;
    color: #5C94fC;
  }
  
  .box-ability img {
    width: 3rem;
    height: 3rem;
  }
  
  .abi-code {
    margin: 0;
  }
  
  .abi-pent {
    margin: 0;
  }
  
  .cert {
    height: 9.5rem;
  }
  
  .cert h3 {
    font-size: 1rem;
  }

  .cert p {
    font-size: 0.9rem;
  }
  
  .cert span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 376px) {
  .box-home {
    width: 18rem;
  }

  .box-about {
    width: 22rem;
  }

  .box-projects {
    width: 18rem;
  }

  .project-images {
    width: 10rem;
  }

  .box-ability {
    width: 18rem;
  }
}
